<section id="intro" class="intro">
  <div class="container">
    <div class="row">
      <div class="intro__wrapper col-12 col-md-6">
        <div class="intro__wrapper-strategy">
          <h2 class="section__title">
            <%- htmlWebpackPlugin.options.variables.intro_title %>
          </h2>
          <p class="strategy__text">
            <%- htmlWebpackPlugin.options.variables.intro_text %>
          </p>
        </div>
        <div class="intro__wrapper-skills">
          <h2 class="section__title">
            <%- htmlWebpackPlugin.options.variables.skills_title %>
          </h2>
          <div class="skills__text">
            <ul class="skills__list">
              <li class="skills__list__item">
                <%- htmlWebpackPlugin.options.variables.skill_1 %>
              </li>
              <li class="skills__list__item">
                <%- htmlWebpackPlugin.options.variables.skill_2 %>
              </li>
              <li class="skills__list__item">
                <%- htmlWebpackPlugin.options.variables.skill_3 %>
              </li>
              <li class="skills__list__item">
                <%- htmlWebpackPlugin.options.variables.skill_4 %>
              </li>
              <li class="skills__list__item">
                <%- htmlWebpackPlugin.options.variables.skill_5 %>
              </li>
            </ul>
            <p class="section__note skills__note">
              <%- htmlWebpackPlugin.options.variables.skills_note %>
            </p>
          </div>
        </div>
      </div>
      <div class="intro__wrapper__image col-sm-5 offset-sm-1">
        <figure class="intro__image">
          <img src="img/author.jpg" alt="" />
          <figcaption>
            <%- htmlWebpackPlugin.options.variables.photo_caption %>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section id="projects" class="projects">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section__title">
          <%- htmlWebpackPlugin.options.variables.project_title %>
        </h2>
        <p class="project__text"><%- htmlWebpackPlugin.options.variables.project_content %>
        </p>
      </div>
      <div class="project__wrapper col-12 col-md-4">
        <img class="project__wrapper__image col-sm-6 col-md-12 " src="img/vintage-house.jpg" alt="">
        <div class="col-sm-6 col-md-12 project__wrapper__content">
          <h3 class="project__heading project__heading--rotated">
            <%- htmlWebpackPlugin.options.variables.project_photo_heading_1 %>
          </h3>
          <p class="project__description">
            <%- htmlWebpackPlugin.options.variables.project_content %>
          </p>
        </div>
      </div>
      <div class="project__wrapper col-12 col-md-4">
        <img class="project__wrapper__image col-sm-6 col-md-12 " src="img/colors-of-interior.jpg" alt="">
        <div class="col-sm-6 col-md-12 project__wrapper__content">
          <h3 class="project__heading project__heading--rotated">
            <%- htmlWebpackPlugin.options.variables.project_photo_heading_2 %>
          </h3>
          <p class="project__description">
            <%- htmlWebpackPlugin.options.variables.project_content %>
          </p>
        </div>
      </div>
      <div class="project__wrapper project__wrapper--block col-12 col-md-4">
        <div class="project__wrapper__content">
          <h3 class="project__heading">
            <%- htmlWebpackPlugin.options.variables.project_heading_1 %>
          </h3>
          <p class="project__description">
            <%- htmlWebpackPlugin.options.variables.project_content %>
          </p>
        </div>
        <div class="project__wrapper__content">
          <h3 class="project__heading">
            <%- htmlWebpackPlugin.options.variables.project_heading_2 %>
          </h3>
          <p class="project__description">
            <%- htmlWebpackPlugin.options.variables.project_content %>
          </p>
        </div>
        <div class="project__wrapper__content">
          <h3 class="project__heading">
            <%- htmlWebpackPlugin.options.variables.project_heading_3 %>
          </h3>
          <p class="project__description">
            <%- htmlWebpackPlugin.options.variables.project_content %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about-me" class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section__title">
          <%- htmlWebpackPlugin.options.variables.aboutme_title %><span class="section__title--highlighed">
            <%- htmlWebpackPlugin.options.variables.aboutme_title_highlighed %></span>
        </h2>
      </div>
      <div class="col-12 aboutme__images">
        <div class="col-6 col-md-3">
          <img src="img/instagram1.jpg" alt="">
        </div>
        <div class="col-6 col-md-3">
          <img src="img/instagram2.jpg" alt="">
        </div>
        <div class="col-6 col-md-3">
          <img src="img/instagram3.jpg" alt="">
        </div>
        <div class="col-6 col-md-3">
          <img src="img/instagram4.jpg" alt="">
        </div>
      </div>
      <p class="section__note aboutme__note">
        <%- htmlWebpackPlugin.options.variables.aboutme_note %>
      </p>
    </div>
  </div>
</section>
<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section__title section__title--bigger">
          <%- htmlWebpackPlugin.options.variables.contact_title %>
        </h2>
        <p><%- htmlWebpackPlugin.options.variables.contact_text %></p>
      </div>
    </div>
  </div>
</section>