<header class="header">
  <nav class="header__navigation">
    <ul class="navigation__list">
      <li>
        <%- htmlWebpackPlugin.options.variables.nav_link_1 %>
      </li>
      <li>
        <%- htmlWebpackPlugin.options.variables.nav_link_2 %>
      </li>
      <li>
        <%- htmlWebpackPlugin.options.variables.nav_link_3 %>
      </li>
      <li>
        <%- htmlWebpackPlugin.options.variables.nav_link_4 %>
      </li>
    </ul>
  </nav>
  <div class="container header__container">
    <div class="row">
      <div class="col-12">
        <h1 class="header__title">
          <%- htmlWebpackPlugin.options.variables.header_title %>
        </h1>
        <p class="header__subtitle">
            <%- htmlWebpackPlugin.options.variables.header_subtitle %>
        </p>
      </div>
    </div>
  </div>
</header>