<header class="header">
  <nav class="header__navigation">
    <div class="hamburger__button">
      <span class="hamburger__bar hamburger__bar--1"></span>
      <span class="hamburger__bar hamburger__bar--2"></span>
      <span class="hamburger__bar hamburger__bar--3"></span>
    </div>
    <ul class="navigation__list">
      <li class="navigation__list__item" ><a href="#intro">
          <%- htmlWebpackPlugin.options.variables.nav_link_1 %>
        </a>
      </li>
      <li class="navigation__list__item"><a href="#projects">
          <%- htmlWebpackPlugin.options.variables.nav_link_2 %>
        </a>
      </li>
      <li class="navigation__list__item"><a href="#about-me">
          <%- htmlWebpackPlugin.options.variables.nav_link_3 %>
        </a>
      </li>
      <li class="navigation__list__item"><a href="#contact">
          <%- htmlWebpackPlugin.options.variables.nav_link_4 %>
        </a>
      </li>
    </ul>
    <div class="social-media__container">
        <%- include orange-socialmedia %>
    </div>
  </nav>
  <div class="container header__container">
    <div class="row">
      <div class="col-12">
        <h1 class="header__title">
          <%- htmlWebpackPlugin.options.variables.header_title %>
        </h1>
        <p class="header__subtitle">
          <%- htmlWebpackPlugin.options.variables.header_subtitle %>
        </p>
      </div>
    </div>
  </div>
</header>
<aside class="social-media__container--web">
    <%- include orange-socialmedia %>
</aside>